<table mat-table [dataSource]="dataSource" class="w-full">
  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef>Ticker</th>
    <td mat-cell *matCellDef="let element">{{ element.ticker }}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let element">{{ element.value }}</td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="pl">
    <th mat-header-cell *matHeaderCellDef>P&L</th>
    <td mat-cell *matCellDef="let element">{{ element.pl }}</td>
  </ng-container>

  <ng-container matColumnDef="totalPL">
    <th mat-header-cell *matHeaderCellDef>Total P&L</th>
    <td mat-cell *matCellDef="let element">{{ element.totalPL }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div
  *ngIf="!dataSource.data?.length"
  class="p-6 flex justify-items-center flex-col w-full items-center"
>
  <h4 class="flex my-4 text-xl">
    Looks like it's empty! <mat-icon class="ml-1">sentiment_neutral</mat-icon>
  </h4>
  <button mat-raised-button color="accent" (click)="openDialog(portfolio.uid)">
    Add stocks
  </button>
</div>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
