<ng-container *ngIf="entries$ | async">
  <table
    mat-table
    [dataSource]="dataSource"
    class="w-full"
    *ngIf="dataSource.data.length"
  >
    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef>Ticker</th>
      <td mat-cell *matCellDef="let entry">
        <span class="text-xl">{{ entry.ticker | uppercase }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="currentPrice">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let entry">
        <div class="flex items-center">
          <span class="text-xl">{{ entry.currentPrice }}</span>
          <span
            class="flex flex-col ml-1.5 text-sm leading-4 {{
              entry.change < 0 ? 'text-red-500' : 'text-green-500'
            }}"
          >
            <div>{{ entry.change | getCurrency: entry.currency }}</div>
            <div>{{ entry.changePercent | number: "1.2-2" }}%</div>
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Postion</th>
      <td mat-cell *matCellDef="let entry">
        <span class="text-xl">{{ entry.quantity }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let entry">
        <span class="text-xl">{{ entry | calcTickerWorth }}</span>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="pl">
      <th mat-header-cell *matHeaderCellDef>P&L</th>
      <td mat-cell *matCellDef="let entry">{{ entry.pl }}</td>
    </ng-container>

    <ng-container matColumnDef="totalPL">
      <th mat-header-cell *matHeaderCellDef>Total P&L</th>
      <td mat-cell *matCellDef="let entry">{{ entry.totalPL }}</td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div
    *ngIf="!dataSource.data?.length; else addMoreTemplate"
    class="p-6 flex justify-items-center flex-col w-full items-center"
  >
    <h4 class="flex my-4 text-xl">
      Looks like it's empty! <mat-icon class="ml-1">sentiment_neutral</mat-icon>
    </h4>
    <button
      mat-raised-button
      color="accent"
      (click)="openTicker.emit(portfolio.uid)"
    >
      Add stocks
    </button>
  </div>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic entrys"
  >
  </mat-paginator>
</ng-container>

<div
  class="
    absolute
    z-10
    bg-gray-600
    w-full
    h-full
    flex
    top-0
    justify-center
    items-center
  "
  *ngIf="processingEntries$ | async"
>
  <mat-spinner></mat-spinner>
</div>

<ng-template #addMoreTemplate>
  <div class="w-full h-full flex justify-end items-center p-4">
    <button
      mat-raised-button
      color="primary"
      (click)="openTicker.emit(portfolio.uid)"
    >
      Add more
    </button>
  </div>
</ng-template>
