<div class="relative min-h-screen md:flex">
  <div class="bg-primary text-base-100 flex justify-between md:hidden">
    <button
      (click)="hideSideNav = false"
      class="p-4 focus:outline-none focus:bg-gray-700"
    >
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
    <app-avatar class="flex items-center mr-2"></app-avatar>
  </div>
  <div
    *ngIf="!hideSideNav"
    (click)="hideSideNav = true"
    class="
      fixed
      z-40
      top-0
      left-0
      w-screen
      h-screen
      bg-base-content bg-opacity-40
    "
  ></div>
  <app-side-nav
    [ngClass]="{ '-translate-x-full': hideSideNav }"
    class="
      bg-primary
      z-50
      md:z-0
      w-64
      space-y-6
      py-7
      fixed
      inset-y-0
      left-0
      transform
      md:relative md:translate-x-0
      transition
      duration-200
      ease-in-out
      flex flex-col
    "
  >
  </app-side-nav>

  <div class="flex-1 p-10 text-2xl font-bold">
    <app-header class="flex flex-row justify-between items-start"></app-header>
    <div class="flex flex-col mt-8">
      <ng-content></ng-content>
    </div>
  </div>
</div>
