<!-- <div style="display: flex">
  <pre> {{ TSLA$ | async | json }}</pre>
  <pre> {{ MSFT$ | async | json }}</pre>
  <pre> {{ V$ | async | json }}</pre>
</div>
<img src="https://s3.polygon.io/logos/ibm/logo.png" alt="" srcset="" /> -->

<ng-container *ngIf="loggedIn; else routerTmpl"
  ><div class="flex flex-row h-screen">
    <div class="w-60 bg-primary bg-opacity-30">
      <app-side-nav class="flex flex-col h-full py-6"></app-side-nav>
    </div>
    <div class="flex-auto bg-base-100 overflow-auto p-10">
      <div class="flex flex-row justify-between items-start">
        <div>
          <p class="text-3xl">
            Welcome to
            <span class="text-primary font-bold">Portfolio Tracker</span>
          </p>
          <p class="prose-lg">Good Morning, Hemanth Anumolu</p>
        </div>
        <div class="avatar">
          <div class="rounded-btn w-10 h-10">
            <img
              src="http://daisyui.com/tailwind-css-component-profile-1@40w.png"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col mt-8">
        <ng-container *ngTemplateOutlet="routerTmpl"></ng-container>
      </div>
    </div></div
></ng-container>

<ng-template #routerTmpl>
  <router-outlet></router-outlet>
</ng-template>
