<table
  class="
    table
    w-full
    rounded-lg
    border border-base-200 border-t-0 border-separate border-spacing
  "
  style="border-spacing: 0"
>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Change</th>
      <th>Shares</th>
      <th>Avg Cost / Share</th>
      <th>Market Value</th>
      <th>Daily Gain</th>
      <th>Total Gain</th>
      <th>No. of Lots</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="flex items-center space-x-3">
          <div class="avatar">
            <div class="w-12 h-12 mask mask-squircle">
              <img
                src="https://daisyui.com/tailwind-css-component-profile-2@56w.png"
                alt="Avatar Tailwind CSS Component"
              />
            </div>
          </div>
          <div>
            <div class="font-bold">Hart Hagerty</div>
            <div class="text-sm opacity-50">United States</div>
          </div>
        </div>
      </td>
      <td>Purple</td>
      <td>Purple</td>
      <td>Purple</td>
      <td>Purple</td>
      <td>Purple</td>
      <td>Purple</td>
      <td>Purple</td>
      <th>
        <button class="btn btn-ghost btn-xs">details</button>
      </th>
    </tr>
    <tr>
      <td colspan="9">
        <div class="flex flex-auto justify-between items-center">
          <p>Total:12</p>
          <div class="btn-group">
            <button class="btn btn-xs">Previous</button>
            <button class="btn btn-xs">Next</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
