<ng-container *ngIf="user$ | async as user">
  <mat-card class="w-[100%] max-w-[400px] mb-10">
    <mat-card-title>
      Welcome to
      <span class="text-primary font-bold"
        >Portfolio Tracker</span
      ></mat-card-title
    >
    <mat-card-content>
      <mat-card-subtitle>
        Good Morning, {{ user?.displayName }}</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="!(processingMyPortfolios$ | async); else loaderTemplate">
  <ng-container *ngIf="portfolios$ | async as portfolios">
    <h4 *ngIf="!portfolios.length" class="text-center">
      Looks like there are no Portfolios!<br />
      <button
        class="mt-3"
        mat-raised-button
        color="primary"
        (click)="openDialog()"
      >
        Add one
      </button>
    </h4>

    <mat-accordion *ngFor="let porfolio of portfolios">
      <mat-expansion-panel
        class="mb-2"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="mat-elevation-z1 rounded-none">
          <mat-panel-title class="flex items-center pl-4">
            <mat-icon
              *ngIf="porfolio.isMain"
              color="primary"
              class="absolute left-2"
              >star</mat-icon
            >
            {{ porfolio.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-table class="block" [data]="data"></app-table>
      </mat-expansion-panel>
    </mat-accordion>
    <h4 *ngIf="portfolios.length && portfolios.length < 4" class="text-right">
      <button
        class="mt-3"
        mat-raised-button
        color="primary"
        (click)="openDialog()"
      >
        Add another ?
      </button>
    </h4>
  </ng-container>
</ng-container>
<ng-template #loaderTemplate>
  <div class="flex justify-items-center">
    <mat-spinner class="m-auto" [diameter]="32"></mat-spinner>
  </div>
</ng-template>
