<ng-container *ngIf="user$ | async as user">
  <mat-card class="w-[100%] max-w-[400px] mb-10">
    <mat-card-title>
      Welcome to
      <span class="text-primary font-bold"
        >Portfolio Tracker</span
      ></mat-card-title
    >
    <mat-card-content>
      <mat-card-subtitle>
        {{ greeting }}, {{ user?.displayName }}</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="!(processingMyPortfolios$ | async); else loaderTemplate">
  <app-my-portfolios
    *ngIf="portfolios$ | async as portfolios"
    [portfolios]="portfolios"
  ></app-my-portfolios>
</ng-container>
<ng-template #loaderTemplate>
  <div class="flex justify-items-center">
    <mat-spinner class="m-auto" [diameter]="32"></mat-spinner>
  </div>
</ng-template>
